$f-weight-normal:  400;
$vf-weight-normal: 450;
$f-weight-heading:  600;
$vf-weight-heading: 650;


#modal-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0);
}

#modal {
  all: initial;
  position: absolute;
  padding: 10px;
  background: var(--modal-color-bg);
  color: var(--modal-color-fg);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
  font-size: 14px;
  font-family: Manrope, sans-serif;
  font-weight: $f-weight-normal;

  @supports (font-variation-settings: normal) {
    font-family: 'Manrope VF', sans-serif;
    font-variation-settings: 'wght' $vf-weight-normal;
    font-variation-ligatures: normal;
    font-feature-settings:'calt', 'liga';
  }

  *,*:before,*:after {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased; 
  }
  
  &.bottom {
    bottom: 0;
    animation: from-bottom 250ms ease 1;
  }
  &.top {
    top: 0;
    animation: from-top 250ms ease 1;
  }

  [class^='icon'] {
    path, polygon, rect, circle {
      fill: var(--modal-color-fg);
    }
  }
}


@keyframes from-bottom {
  from {
    opacity: 0.5;
    clip-path: polygon(-10% 110%, -10% 110%, 110% 110%, 110% 110%);
  }
  to   {
    opacity: 1;
    clip-path: polygon(-10% 110%, -10% -10%, 110% -10%, 110% 110%);
  }
}

@keyframes from-top {
  from {
    opacity: 0.5;
    clip-path: polygon(-10% -10%, -10% -10%, 110% -10%, 110% -10%);
  }
  to   {
    opacity: 1;
    clip-path: polygon(-10% -10%, -10% 110%, 110% 110%, 110% -10%);
  }
}

// typography
h1, h2, h3 {
  line-height: 1.2em;
  margin: 0;
}

h1 {
  font-size: 19px;
  font-weight: $f-weight-heading;
  font-variation-settings: 'wght' $vf-weight-heading;
}

h2 {
  margin-bottom: 0.5em;
  font-size: 19px;
  font-weight: $f-weight-normal;
  font-variation-settings: 'wght' $vf-weight-normal;
}

h3 {
  margin-bottom: 0.25em;
  font-size: 16px;
  font-weight: $f-weight-heading;
  font-variation-settings: 'wght' $vf-weight-heading;
}

h4 {
  margin: 0em;
  font-size: 14px;
  font-weight: $f-weight-normal;
  font-variation-settings: 'wght' $vf-weight-normal;
}

p {
  line-height: 1.5em;

  &:last-child {
    margin-bottom: 0;
  }
}

li {
  line-height: 1.5em;
}

strong {
  font-weight: 700;
}

a {
  color: var(--modal-color-fg);

  &:hover {
    text-decoration: none;
  }
}

a.more {
  display: inline-block;
  background-color: var(--modal-color-fg);
  color: var(--modal-color-bg);
  text-decoration: none;
  margin-top: 10px;
  padding: 0.4em 0.8em;
  border-radius: 2px;

  svg {
    position: relative;
    display: inline-block;
    width: 8px;
    margin-left: 5px;
    margin-bottom: 1px;
    vertical-align: middle;

    polygon {
      fill: var(--modal-color-bg) !important;
    }
  }

  &:hover {
    svg {
      top: -1px;
      left: 1px;
    }
  }
}


.close {
  position: absolute;
  top: 3px;
  right: 4px;
  width: 24px;
  height: 24px;
  padding: 8px;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  z-index: 1;

  svg {
    cursor: pointer;
  }

  &:hover svg {
    transform: scale(1.3);
    transition: transform 200ms ease;
  }
}


#modal-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .vertical & {
    flex-direction: column;
  }
}

.column {
  width: 320px;

  .vertical & {
    padding: 10px 10px;

    &:last-child {
      padding-bottom: 10px;
    }

    @media (max-width: 359px) {
      width: 280px;
      padding: 10px 5px;
    }
  }

  .horizontal & {
    padding: 25px;
  }
}

#logo {
  width: 160px;
  padding-right: 10px;

  .vertical &   { width: 140px; }
  .horizontal & { padding-right: 10px; }
}

// #badges {
//   ul {
//     //min-width: 300px;
//     margin: 0;
//     padding-left: 0;
//     list-style: none;

//     li {
//       position: relative;
//       margin-bottom: 2em;
//       padding: 0 0 0 30px;

//       &:last-child {
//         margin-bottom: 0;
//       }

//       .icon-check {
//         position: absolute;
//         width: 18px;
//         left: 0;
//         top: 0;
//       }
//     }

//     &.accordeon {
//       li {
//         padding-right: 20px;
//         cursor: pointer;
//         user-select: none;
//       }

//       .badge-info {
//         max-height: 0;
//         overflow-y: hidden;
//         transition: all 150ms cubic-bezier(0, 1, 0.5, 1);
//       }

//       .icon-arrow-down {
//         position: absolute;
//         right: 1px;
//         top: 4px;
//         width: 10px;
//         transition: all 200ms ease;
//       }

//       li.open {
//         .badge-info {
//           max-height: 16rem;
//         }

//         .icon-arrow-down {
//           transform: scaleY(-1);
//         }
//       }
//     }

//     .evidence {
//       margin: 0;

//       li {
//         margin-bottom: 10px;
//         padding-left: 16px;
//       }

//       .icon-check-small {
//         position: absolute;
//         left: 0;
//         top: 6px;
//         width: 16px;
//         height: 16px;
//       }
//     }
//   }
// }

// #badges {
//   .horizontal & { border-right: 1px solid var(--modal-color-fg); }
// }

// #about {
//   .vertical & { border-top: 1px solid var(--modal-color-fg); }
//   .horizontal & { position: relative; left:-1px; border-left: 1px solid var(--modal-color-fg); }
// }
